<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/> -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--/* The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags */-->

    <meta name="description" content="FC application"/>
    <meta name="author" content="Justin Teitzel, Sparq Pty. Ltd."/>

    <title>FC: Home</title>








    <!-- <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet"/>
     <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet"/>
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>-->


</head>

<body>

test 123











</body>
</html>
