<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!--/* The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags */-->

    <meta name="description" content="FC application"/>
    <meta name="author" content="Justin Teitzel, Sparq Pty. Ltd."/>

    <title>FC: Home</title>

    <link rel='stylesheet' href='/webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css'/>

    <link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.12/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.12/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap-select/1.7.3-1/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/4.6.3/css/font-awesome.min.css"/>

    <link href="/flatpickr/flatpickr.min.css" rel="stylesheet"/>
    <link href="/flatpickr/flatpickr.base16_flat.min.css" rel="stylesheet"/>
    <link href="/webjars/chosen/1.4.1/chosen.min.css" rel="stylesheet"/>
    <link href="/css/buttons.dataTables.min.css" rel="stylesheet"/> <!-- this is required as the buttons.datatable in the webjar location is sass (scss) format-->
    <link href="/css/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
    <link href="/css/select/1.2.3/css/select.dataTables.min.css" rel="stylesheet"/>



    <link href="/css/flatpickr-override.css" rel="stylesheet"/>
    <link href="/css/bootstrap-override.css" rel="stylesheet"/>
    <link href="/css/datatables-override.css" rel="stylesheet"/>
    <link href="/css/clients.css" rel="stylesheet"/>
    <link href="/css/editor.dataTables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css"/> <!-- compile of many different style sheets from https://datatables.net/download/ -->


    <!-- <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet"/>
     <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet"/>
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>-->

    <style>

        /*[- with the current Bootstrap, the date-field-related buttons/dropdowns have a small visual bug; the
             css hacks below work around them -]*/

        /* category [- NB: these -ms-* css properties will change/go away over time; may mean that these hacks won't work.
             Hopefully, they won't be needed as Bootstrap catches up with the browser quirks -]*/

        /*[- Internet Explorer 10 + 11 -]*/
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            .fixup-forIE {
                line-height: normal !important;
            }
        }

        /*[- Edge Browser -]*/
        @supports (-ms-ime-align:auto) {
            .fixup-forIE {
                line-height: normal !important;
            }
        }
    </style>
</head>

<body>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <!-- The below line is important for Thymeleaf to correctly interpret the page binding for the @RequstMapping -->
    <a class="navbar-brand name" th:href="@{/}" href="/">Error Page</a>
</nav>
<div class="jumbotron paged">
    <h1>Fitness Central Home</h1>
    <table width="80%" align="center" border="0" cellpadding="10" cellspacing="10">
        <tbody>
        <tr valign="top">
            <td width='50%' nowrap="nowrap" align="center" valign="middle">
                <p>

                </p>
                <p><em>Page Not Found</em></p>
            </td>
            <!--/* Apparently, applications are not supposed to show anything that might identify platform/language,
            etc. so this is all rather vague */-->
            <td width='50%' nowrap="nowrap">
                <h2>Something Went Wrong</h2>
                <p>You should probably <a href="mailto:sparqservicedesk@sparq.com.au?subject=WEBI%20Error%20Report">Report this to the powers that administer Fitness Central.</a></p>
                <p>The following <em>may</em> help somebody...</p>
                <ul>

                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>